header {
  background: url(https://clevelandwill.files.wordpress.com/2013/11/cleveland_skyline.jpg?w=650) no-repeat;
  background-size: cover;
  height: 360px
}

section {

  height: 100%;
  width: 100%
  color: grey;

}

div {
  position: relative;
}

h1 {
  text-align: center;
}
#column1 {
  height: 100%;
  width: 32.2%;
  postion: relative;
  float: left;
  padding: 8px;
  background-color: #76A1D2;

}
#column2 {
  height: 100%;
  width: 32.2%;
  position: relative;
  float: left;
  padding: 8px;
  background-color: #707D8C;
}

#column3 {
  height: 100%;
  width: 32.2%;
  position: relative;
  float: left;
  padding: 8px;
  background-color: #738AA4;
}

#shy {
      height: 200px;
      width: 200px;
      padding: 25px;
}
#kool {
  height: 200px;
  width: 200px;
  padding: 25px;
}



footer {
  text-align: center;
  clear: both;
  postion: relative;
  z-index: 10
  height: 3em
  margin-top: -3em;
  background-color: Grey;

}
