*{
  box-sizing: border-box;
}

/*Navbar*/
nav {
  height: 75px;
  background-color: rgba(44,44,44,.75);
  position: fixed;
  width: 100%;
}
#nav-ul{
  width: 60%;
  margin: 0 auto;
  padding: 0;
}


nav li {
  float: left;
  /*color: white;*/
  width: 33%;
  text-align: center;
  line-height: 75px;  /* equals height of nav height */
  font-size: 10px;
  font-family: 'Calibri', sans-serif;
}

nav li a {
  color: white;
  text-decoration: none;  /* removes underlines from links */
  height: 100%;   /*allows click over entire li not just the word */
  width: 100%;  /*allows click over entire li not just the word */
  display: block; /*allows h and w */
  }

  nav li a:hover {
    background-color: white;
    color: black;
    transition: 1s; /*time for hover to take effect */
  }
/*###################*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: white;
  font-size: 38pt;
  text-align: center;
  padding-top: 150px;
}

section {
  height: 650px;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}

 #section-1 {
   background: linear-gradient(45deg, rgba(250, 250, 250, 0.5), rgba(0, 0, 0, 0.5)),
   url(https://download.unsplash.com/photo-1429042007245-890c9e2603af);

 }
 .split {
   width: 50%;
   height: 100%;
   border: solid black 1px;
   display: block;
   float: left;
   background-attachment: fixed;
 }
 #skills {
   text-align: center;
 }
 #skill {
   color: white;
   font-size: 40px;
   text-decoration: underline;
 }
 .cando {
   color: white;
 }
 #pic{
   background-image: url(images/off-center-2.png);
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
 }

 #section-2 {
   background: linear-gradient(to bottom, darkblue, maroon);
   border: solid black 1px;
 }

 .portPieces {
   width: 33.3%;
   height: 650px;
   border: solid black 1px;
   display: block;
   float: left;
   background-attachment: fixed;
 }

#pieceOne {
   background-image: url(images/correct_ans.png);
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
 }

#OSP {
  color: blue;
  text-decoration: none;
}

#pieceTwo {
    background-image: url(images/log_in.png);
    background-size: cover;
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
}

#Kindlies {
  color: blue;
  text-decoration: none;
}

#pieceThree {
    background-image: url(images/profilegood.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#Squeaker {
  color: blue;
  text-decoration: none;
}
.desc {
  text-align: center;
  color: darkgreen;
}
#oldie {
  text-align: center;
  color: white;
}

#section-3 {
   background-image: url('https://unsplash.com/photos/SbcqUQ4iEcI/download');
   background-position-y: -90px;
}

#contact {
  text-align: center;
  color: white;
}

#section-3 div {
   width: 450px;
   height: 160px;
   background-color: rgba(44, 44, 44, 0.5);
   text-align: center;
   display: block;
   margin: 30px auto;
   border: solid black 1px;
 }

#mail {
  top: 15%;
  padding: 15px;
}

#lin{
  position: relative;
  top: 15%;
  padding: 5px;

}

#github {
  position: relative;
  top: 15%;
  margin: 0;
  padding: 0 0 10px 0;
  box-sizing: border-box;
  height: 150px;
}

.footer {
  color: white;
  background-color: black;
  text-align: center;

}
